/* Set the background color for the entire page */
body {
    background-color: #e0c579; /* For background */
    color: #333333; /* Text color  */
    font-family: Arial, sans-serif;
    text-align: center; 
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto; /* Centering */
    padding: 20px;
}


#Title {
    font-size: 3rem;
    margin-bottom: 20px;
}


#CoverArt {
    width: 300px;
    height: 500px;
    border-radius: 25%;
    object-fit: cover; 
    margin-bottom: 20px;
}


#Rating {
    font-size: 1.5rem;
    margin-bottom: 20px;
}


#Trailer {
    display: block; 
    margin: 0 auto; /* Centers the iframe horizontally */
    border: 5px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}


#Summary {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


#Actors {
    list-style-type: none; 
    padding: 0;
    font-size: 1.2rem;
}

    #Actors li {
        margin-bottom: 10px;
    }

/* IMDB link */
a {
    font-size: 1.2rem;
    color: #61dafb;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
